<!DOCTYPE html>
<html lang="en">
<head>
  {{template "app/skylab/head.html"}}
  <title>Landing Page</title>
</head>
<body class="public">
  {{template "app/skylab/navbar.html"}}
  <div class="sans-serif pa2 pa4-l">
    <h2>Apply for Orbital (as student)</h2>
    <button class="button pa0 bg-nus-blue">
      <a href="/applicant/login" class="no-underline white flex items-center hover-white">
        <img src="/static/img/nus.svg" height="30" width="30" class="pa1">
        <div class="mh2 f7">Signup with NUS</div>
      </a>
    </button>
  </div>
</body>
</html>
