<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "app/skylab/head.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
  <title>Past Year Showcase</title>
</head>
<body class="{{ if eq $.skylab.CurrentRole RoleNull }}bipanel-l{{ else }}tripanel-l{{ end }}">
  {{ template "app/skylab/navbar.html" . }}
  {{ template "app/skylab/sidebar.html" . }}
  <div class="sans-serif pa2 pa4-l">
    <div class="f4">
      {{ range $i, $cohort := $.skylab.Cohorts }}
        {{ if eq $.Cohort $cohort }}
          <span class="ml1 underline">{{ $cohort }}</span>
        {{ else }}
        <a href="/showcase/{{ $cohort }}/{{ $.ProjectLevel }}" class="ml1">{{ $cohort }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="f4">
      {{ range $i, $projectlevel := SkylabProjectLevels }}
        {{ if eq $.ProjectLevel $projectlevel }}
          <span class="ml1 underline">{{ $projectlevel }}</span>
        {{ else }}
        <a href="/showcase/{{ $.Cohort }}/{{ $projectlevel }}" class="ml1">{{ $projectlevel }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="pv2"></div>
    <div class="grid-3-2-1 grid-gap-3">
      {{ range $i, $num := $.Numbers }}
      <div class="ba pointer">
        <img
          style="height:100%;width:100%;object-fit:cover"
          src="/static/img/{{ $.ProjectLevel }}.png"
          data-src="https://source.unsplash.com/random/480x480?sig={{ $.RandomInt }}"
          class="lazy"
          >
      </div>
      {{ end }}
    </div>
  </div>
  <script src="/static/vendor.js"></script>
  <script src="/static/app/past_year_showcase.js"></script>
</body>
</html>
