<!DOCTYPE html>
<html lang="en">
<head>
  {{template "app/skylab/head.html"}}
  <title>User</title>
</head>
<body class="{{if eq SkylabCurrentRole RoleNull}}bipanel-l{{else}}tripanel-l{{end}}">
  {{template "app/skylab/navbar.html"}}
  {{template "app/skylab/sidebar.html"}}
  <div class="sans-serif pa2 pa4-l">
    {{template "helpers/flash/flash.html"}}
    {{if not $.User.Valid}}
      <p class="f4">Invalid User. <a href="/">Go to homepage.</a></p>
    {{else}}
    <form method="post" action="/user/update/{{$.User.UserID}}">
      <input type="hidden" name="role" value="{{$.Role}}">
      <h3>Display Name</h3>
      <input type="text" name="displayname" value="{{$.User.Displayname}}">
      <h3>Email</h3>
      <p>{{$.User.Email}}</p>
      {{SkylabCsrfToken}}
      <button type="submit">Update</button>
    </form>
    {{end}}
  </div>
</body>
</html>
