<!DOCTYPE html>
<html lang="en">
<head>
  {{template "app/skylab/head.html"}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <title></title>
</head>
<body class="{{if SkylabCurrentRole}}tripanel-l{{else}}bipanel-l{{end}}">
  {{template "app/skylab/navbar.html"}}
  {{template "app/skylab/sidebar.html"}}
  <div class="pa2 pa4-l sans-serif">
    <h2>Action overview</h2>
    <form method="post" action="{{AdminCreateUserConfirm}}/post">
      {{SkylabCsrfToken}}

      {{$createUserRole := index $.SortedUsers (bitwiseOr actionCreateUser actionCreateRole)}}
      {{$createRole := index $.SortedUsers actionCreateRole}}
      {{$updateDisplayname := index $.SortedUsers actionUpdateDisplayname}}
      {{$createRoleUpdateDisplayname := index $.SortedUsers (bitwiseOr actionCreateRole actionUpdateDisplayname)}}
      {{$doNothing := index $.SortedUsers actionDoNothing}}
      {{$badEntry := index $.SortedUsers actionBadEntry}}
      {{$error := index $.SortedUsers actionError}}

      {{if $createUserRole}}
      <div class="b">These new users will be created, and new roles created for them</div>
        <table id="create-user-role" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Confirm</th>
              <th>Cohort</th>
              <th>User</th>
              <th>Display Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $createUserRole}}
              <tr>
                <td>
                  <div class="flex items-center justify-center">
                    <input id="{{_Sha1Hash $user}}" type="checkbox" name="{{_Sha1Hash $user}}" value="checked" class="pointer" checked>
                    <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  </div>
                </td>
                <td>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Email}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Displayname}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Role}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $createRole}}
      <p class="pv2"></p>
      <div class="b">These existing users will have new roles created for them</div>
        <table id="create-role" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Confirm</th>
              <th>Cohort</th>
              <th>Existing User</th>
              <th>Existing Display Name</th>
              <th>New Role</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $createRole}}
              <tr>
                <td>
                  <div class="flex items-center justify-center">
                    <input id="{{_Sha1Hash $user}}" type="checkbox" name="{{_Sha1Hash $user}}" value="checked" class="pointer" checked>
                    <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  </div>
                </td>
                <td>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.Displayname}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Role}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $updateDisplayname}}
      <p class="pv2"></p>
      <div class="b">These existing users will have their display name updated</div>
        <table id="update-displayname" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Confirm</th>
              <th>Cohort</th>
              <th>Existing User</th>
              <th>Existing Displayname</th>
              <th>New Displayname</th>
              <th>Existing Role</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $updateDisplayname}}
              <tr>
                <td>
                  <div class="flex items-center justify-center">
                    <input id="{{_Sha1Hash $user}}" type="checkbox" name="{{_Sha1Hash $user}}" value="checked" class="pointer" checked>
                    <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  </div>
                </td>
                <td>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.OldDisplayname}}</div>
                </td>
                <td>
                  <div class="i">{{$user.Displayname}}</div>
                </td>
                <td>
                  <div>{{$user.Role}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $createRoleUpdateDisplayname}}
        <p class="pv2"></p>
        <div class="b">These existing users will get a new role created for them, and also have their display name updated</div>
        <table id="create-role-update-displayname" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Confirm</th>
              <th>Cohort</th>
              <th>Existing User</th>
              <th>Existing Displayname</th>
              <th>New Displayname</th>
              <th>New Role</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $createRoleUpdateDisplayname}}
              <tr>
                <td>
                  <div class="flex items-center justify-center">
                    <input id="{{_Sha1Hash $user}}" type="checkbox" name="{{_Sha1Hash $user}}" value="checked" class="pointer" checked>
                    <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  </div>
                </td>
                <td>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.OldDisplayname}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Displayname}}</div>
                </td>
                <td class="i">
                  <div>{{$user.Role}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $doNothing}}
        <p class="pv2"></p>
        <div class="b">No changes for these users</div>
        <table id="do-nothing" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Cohort</th>
              <th>Existing Role</th>
              <th>Existing User</th>
              <th>Existing Displayname</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $doNothing}}
              <tr>
                <td>
                  <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Role}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.Displayname}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $badEntry}}
        <p class="pv2"></p>
        <div class="b">These entries have invalid fields</div>
        <table id="bad-entry" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Cohort</th>
              <th>User</th>
              <th>Display Name</th>
              <th>Role</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $badEntry}}
              <tr>
                <td>
                  <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.Displayname}}</div>
                </td>
                <td>
                  <div>{{$user.Role}}</div>
                </td>
                <td>
                  <div>{{SkylabSanitizeHTML $user.BadEntryDetails}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      {{if $error}}
        <p class="pv2"></p>
        <div class="b">These entries encountered a server side error, please check the logs</div>
        <table id="server-error" class="compact stripe display" style="width:100%">
          <thead>
            <tr>
              <th>Cohort</th>
              <th>User</th>
              <th>Display Name</th>
              <th>Role</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
            {{range $i, $user := $error}}
              <tr>
                <td>
                  <input type="hidden" name="{{_Sha1Hash $user}}" value="{{serialize $user}}" hidden>
                  <div>{{$user.Cohort}}</div>
                </td>
                <td>
                  <div>{{$user.Email}}</div>
                </td>
                <td>
                  <div>{{$user.Displayname}}</div>
                </td>
                <td>
                  <div>{{$user.Role}}</div>
                </td>
                <td>
                  <div>{{SkylabSanitizeHTML $user.ErrStr}}</div>
                </td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{end}}

      <p class="pv2"></p>
      {{if and (not $createUserRole) (not $createRole) (not $updateDisplayname) (not $createRoleUpdateDisplayname)}}
        <p></p>
        <button type="submit" class="button pa2 ph3 bg-light-green hover-bg-green">Edit</button>
      {{else}}
        <div class="b">Carry on with confirmed actions. Unconfirmed actions and rows with errors/invalid fields will be returned to the data entry page for editing.</div>
        <p></p>
        <button type="submit" class="button pa2 bg-light-green hover-bg-green">Proceed</button>
      {{end}}
    </form>
  </div>
  <script nonce="{{HeadersCSPNonce}}">
    $(document).ready(function () {
      $('#create-user-role').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          { width: "5%" },
          null,
          null,
          null,
        ],
      });

      $('#create-role').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          { width: "5%" },
          null,
          null,
          null,
        ],
      });

      $('#update-displayname').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          { width: "5%" },
          null,
          null,
          null,
          null,
        ],
      });

      $('#create-role-update-displayname').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          { width: "5%" },
          null,
          null,
          null,
          null,
        ],
      });

      $('#do-nothing').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          null,
          null,
          null,
        ],
      });

      $('#bad-entry').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          null,
          null,
          null,
          null,
        ],
      });

      $('#server-error').DataTable({
        searching: false,
        paging: false,
        ordering: false,
        info: false,
        scrollX: true,
        iDisplayLength: 50,
        columns: [
          { width: "5%" },
          null,
          null,
          null,
          null,
        ],
      });
    });
  </script>
</body>
</html>
