<!DOCTYPE html>
<html lang="en">
<head>
  {{template "app/skylab/head.html"}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <title></title>
</head>
<body class="{{if SkylabCurrentRole}}tripanel-l{{else}}bipanel-l{{end}}">
  {{template "app/skylab/navbar.html"}}
  {{template "app/skylab/sidebar.html"}}
  <div class="sans-serif pa2 pa4-l">
    <div>
      Cohorts:
      {{range $i, $cohort := SkylabCohorts}}
        {{if eq $.Cohort $cohort}}
          <span class="ml1 underline">{{$cohort}}</span>
        {{else}}
        <a href="{{AdminListTeams}}/{{$cohort}}" class="ml1">{{$cohort}}</a>
        {{end}}
      {{end}}
    </div>
    <div class="pv3"></div>
    <table id="table_id" class="compact stripe display" style="width:100%">
      <thead>
        <tr>
          <th>TeamID</th>
          <th>Team Name</th>
          <th>Project Level</th>
          <th>Status</th>
          <th>Student1</th>
          <th>Student2</th>
          <th>Adviser</th>
          <th>Mentor</th>
        </tr>
      </thead>
      <tbody>
        {{range $i, $team := $.Teams}}
        <tr>
          <td><a href="{{AdminTeam}}/{{$team.TeamID}}">{{$team.TeamID}}</a></td>
          <td>{{$team.TeamName}}</td>
          <td>{{$team.ProjectLevel}}</td>
          <td>{{$team.Status}}</td>
          <td>
            {{if $team.Student1.Valid}}
            <a href="{{AdminUser}}/{{$team.Student1.UserID}}">{{$team.Student1.Displayname}}</a>
            {{end}}
          </td>
          <td>
            {{if $team.Student2.Valid}}
            <a href="{{AdminUser}}/{{$team.Student2.UserID}}">{{$team.Student2.Displayname}}</a>
            {{end}}
          </td>
          <td>
            {{if $team.Adviser.Valid}}
            <a href="{{AdminUser}}/{{$team.Adviser.UserID}}">{{$team.Adviser.Displayname}}</a>
            {{end}}
          </td>
          <td>
            {{if $team.Mentor.Valid}}
            <a href="{{AdminUser}}/{{$team.Mentor.UserID}}">{{$team.Mentor.Displayname}}</a>
            {{end}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <script nonce="{{HeadersCSPNonce}}">
    $(document).ready(function () {
      $('#table_id').DataTable({
        "scrollX": true,
        "iDisplayLength": 50,
        "columns": [
          { "width": "5%" },
          { "width": "25%" },
          null,
          null,
          null,
          null,
          null,
          null,
        ],
      });
    });
  </script>
</body>
</html>
