<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "app/skylab/head.html" . }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <title></title>
</head>
<body class="{{ if $.skylab.CurrentRole }}tripanel-l{{ else }}bipanel-l{{ end }}">
  {{ template "app/skylab/navbar.html" . }}
  {{ template "app/skylab/sidebar.html" . }}
  <div class="sans-serif pa2 pa4-l">
    {{ template "helpers/flash/flash.html" . }}
    <div>
      Cohorts:
      {{ range $i, $cohort := $.skylab.Cohorts }}
        {{ if eq $.Cohort $cohort }}
          <span class="ml1 underline">{{ $cohort }}</span>
        {{ else }}
        <a href="{{ AdminListApplications }}/{{ $cohort }}" class="ml1">{{ $cohort }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="pv2"></div>
    <div>
      <button type="button" id="select-all-btn" class="button ph2 bg-moon-gray hover-bg-light-silver">Select All</button>
      <button type="button" id="unselect-all-btn" class="button ph2 bg-light-gray hover-bg-light-silver">Unselect All</button>
    </div>
    <div class="pv2"></div>
    <table id="table_id" class="compact stripe display" style="width:100%">
      <thead>
        <tr>
          <th>ApplicationID</th>
          <th>Project Level</th>
          <th>Description</th>
          <th>Applicant 1</th>
          <th>Applicant 2</th>
          <th>Submitted</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $application := $.Applications }}
        <tr>
          <td><a href="{{ AdminApplication }}/{{ $application.ApplicationID }}">{{ $application.ApplicationID }}</a></td>
          <td>{{ $application.ProjectLevel }}</td>
          <td></td>
          <td>
            {{ if $application.Applicant1.Valid }}
            <a href="{{ AdminUser }}/{{ $application.Applicant1.UserID }}">{{ $application.Applicant1.Displayname }}</a>
            {{ end }}
          </td>
          <td>
            {{ if $application.Applicant2.Valid }}
            <a href="{{ AdminUser }}/{{ $application.Applicant2.UserID }}">{{ $application.Applicant2.Displayname }}</a>
            {{ end }}
          </td>
          <td>{{ $application.Submitted }}</td>
          <td>{{ $application.Status }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  <script nonce="{{ $.headers.CSPNonce }}">
    $(document).ready(function () {
      $('#table_id').DataTable({
        "scrollX": true,
        "iDisplayLength": 50,
        "columns": [
          { "width": "5%" },
          null,
          { "width": "25%" },
          null,
          null,
          null,
          null,
        ],
      });
    });
  </script>
  <script src="/static/vendor.js"></script>
  <script src="/static/admins/list_applications.js"></script>
</body>
</html>
