<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "app/skylab/head.html" . }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" href="/static/micromodal.css">
  <title>Periods</title>
</head>
<body class="{{ if $.skylab.CurrentRole }}tripanel-l{{ else }}bipanel-l{{ end }}">
  {{ template "app/skylab/navbar.html" . }}
  {{ template "app/skylab/sidebar.html" . }}
  <div class="sans-serif pa2 pa4-l">
    {{ template "helpers/flash/flash.html" . }}
    <div>
      Cohorts:
      {{ range $i, $cohort := $.skylab.Cohorts }}
        {{ if eq $.Cohort $cohort }}
          <span class="ml1 underline">{{ $cohort }}</span>
        {{ else }}
        <a href="{{ AdminListPeriods }}/{{ $cohort }}" class="ml1">{{ $cohort }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="pv2"></div>
    <div>
      <button type="button" id="select-all-btn" class="button ph2 bg-moon-gray hover-bg-light-silver">Select All</button>
      <button type="button" id="unselect-all-btn" class="button ph2 bg-light-gray hover-bg-light-silver">Unselect All</button>
    </div>
    <div class="pv1"></div>
    <div>
      <button type="button" id="create-btn" class="button ph2 bg-light-green hover-bg-green">Create</button>
      <form id="delete-btn-form" method="post" action="{{ AdminListPeriods }}/delete" class="dib">
        {{ $.skylab.CSRFToken }}
        <span id="delete-btn-list"></span>
        <button type="button" id="delete-btn" class="button ph2 bg-light-red hover-bg-red dn">Delete</button>
      </form>
      <button type="button" id="cohort-duplicate-btn" class="button ph2 bg-light-blue hover-bg-blue dn">Duplicate Period(s) for Cohort</button>
      <button type="button" id="edit-btn" class="button ph2 bg-light-blue hover-bg-green dn">Edit</button>
    </div>
    <div class="pv2"></div>
    <table id="table_id" class="compact stripe display" style="width:100%">
      <thead>
        <tr>
          <th>PeriodID</th>
          <th>Cohort</th>
          <th>Stage</th>
          <th>Milestone</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $period := $.Periods }}
        <tr>
          <td><a href="">{{ $period.PeriodID }}</a></td>
          <td>{{ $period.Cohort }}</td>
          <td>{{ $period.Stage }}</td>
          <td>{{ $period.Milestone }}</td>
          <td>{{ SGTime $period.StartAt }}</td>
          <td>{{ SGTime $period.EndAt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <!-- CreateForm -->
  <form id="create-btn-form" method="post" action="{{ AdminListPeriods }}/create" class="modal micromodal-slide sans-serif" aria-hidden="true">
    {{ $.skylab.CSRFToken }}
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Create Period
          </h2>
          <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p class="w5 sans-serif">
            <p>
              <div class="b">Cohort</div>
              <div>{{ template "app/skylab/select.html:cohort" Map "Cohorts" $.skylab.Cohorts "Name" "cohort" "DefaultValue" $.Cohort "Class" "form-input pointer" }}</div>
            </p>
            <p>
              <div class="b">Stage</div>
              <div>{{ template "app/skylab/select.html:stage" Map "Name" "stage" "DefaultValue" StageSubmission "Class" "form-input pointer" }}</div>
            </p>
            <p>
              <div class="b">Milestone</div>
              <div>{{ template "app/skylab/select.html:milestone" Map "Name" "milestone" "DefaultValue" Milestone1 "Class" "form-input pointer" }}</div>
            </p>
            <p>
              <div class="b">Start</div>
              <div>
                <input type="date" name="startdate" value="" class="form-input" placeholder="YYYY-MM-DD">
                <input type="time" name="starttime" value="" class="form-input" placeholder="HH:MM">
              </div>
            </p>
            <p>
              <div class="b">End</div>
              <div>
                <input type="date" name="enddate" value="" class="form-input" placeholder="YYYY-MM-DD">
                <input type="time" name="endtime" value="" class="form-input" placeholder="HH:MM">
              </div>
            </p>
          </p>
        </main>
        <footer class="modal__footer">
          <button type="submit" class="button ph2 bg-light-green hover-bg-green">Submit</button>
          <button type="button" class="button ph2 bg-light-gray hover-bg-gray" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </form>
  <!-- End CreateForm -->

  <!-- CohortDuplicate -->
  <form id="cohort-duplicate-form" method="post" action="{{ AdminListPeriods }}/duplicate" class="modal micromodal-slide sans-serif" aria-hidden="true">
    {{ $.skylab.CSRFToken }}
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Duplicate Period(s)
          </h2>
          <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          <p>
            <div class="b">Select which cohort to duplicate the period(s) for</div>
            <div id="cohort-duplicate-list"></div>
            {{ template "app/skylab/select.html:cohort" Map "Cohorts" $.skylab.Cohorts "Name" "cohort" "DefaultValue" $.skylab.LatestCohort "Class" "form-input pointer" }}
          </p>
        </main>
        <footer class="modal__footer">
          <button type="submit" class="button ph2 bg-light-green hover-bg-green">Submit</button>
          <button type="button" class="button ph2 bg-light-gray hover-bg-gray" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </form>
  <!-- End CohortDuplicate -->

  <script nonce="{{ $.headers.CSPNonce }}">
    $(document).ready(function() {
      $("#table_id").DataTable({
        order: [],
        scrollX: true,
        iDisplayLength: 50,
        columns: [{ width: "6%" }, { width: "5%" }, null, null, null, null],
      });
    });
  </script>
  <script src="/static/vendor.js"></script>
  <script src="/static/admins/list_periods.js"></script>
</body>
</html>
