<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "app/skylab/head.html" . }}
  <title>Test Mail</title>
</head>
<body class="tripanel-l">
  {{ template "app/skylab/navbar.html" . }}
  {{ template "app/skylab/sidebar.html" . }}
  <div class="pa2 pa4-l">
    <h1 class="sans-serif">Send a test email</h1>
    <form method="post" action="">
      {{ $.skylab.CSRFToken }}
      <div>
        <div><b>Receipient(s):</b></div>
        <input type="text" name="to" autocomplete="off" class="form-input w-50">
      </div>
      <p></p>
      <div>
        <div><b>Subject:</b></div>
        <input type="text" name="subject" autocomplete="off" class="form-input w-50">
      </div>
      <p></p>
      <div>
        <div><b>Message:</b></div>
        <div class="w-50"><textarea name="message" class="form-input"></textarea></div>
      </div>
      <p></p>
      <button type="submit" class="button pa2 bg-light-green hover-bg-green">Send</button>
    </form>
  </div>
  <!-- Flash Msg -->
  {{ with $flashMsg := FlashutilGetFlashMsg "sent" }}
    {{ if $flashMsg.Valid }}
      <p class="flashmsg fixed bottom-0 right-2 br1 mv1 ph2 bg-light-blue pointer sans-serif">
        {{ $flashMsg.Value }}
      </p>
    {{ end }}
  {{ end }}
  <!-- End Flash Msg -->
  <script src="/static/flashmsg.js"></script>
  <script src="/static/tinymce/tinymce.min.js"></script>
  <script nonce="{{ HeadersCSPNonce }}">
    tinymce.init({
      selector: "textarea",
      statusbar: false,
      menubar: false,
      toolbar: "bold italic bullist numlist",
      plugins: "autoresize lists",
    })
  </script>
</body>
</html>
