<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "app/skylab/head.html" . }}
  <title></title>
</head>
<body class="{{ if $.skylab.CurrentRole }}tripanel-l{{ else }}bipanel-l{{ end }}">
  {{ template "app/skylab/navbar.html" . }}
  {{ template "app/skylab/sidebar.html" . }}
  <div class="sans-serif pa2 pa4-l">
    <p class="flex justify-between">
      {{ if not (eq $.EditURL "") }}
        <a href="{{ $.EditURL }}">Edit</a>
      {{ end }}
    </p>
    <div class="widget pa3">
      <h1>{{ $.Title }}</h1>
      {{ template "helpers/formx/render_form.html" $.QuestionsAnswers }}
    </div>
  </div>
  <script src="/static/tinymce/tinymce.min.js"></script>
  <script nonce="{{ HeadersCSPNonce }}">
    tinymce.init({
      selector: "textarea",
      statusbar: false,
      menubar: false,
      toolbar: "bold italic bullist numlist",
      plugins: "autoresize lists",
    })
  </script>
</body>
</html>
